.rojo{
	background: #ee3e64;
}/* Pon tu código css aqui */
.azul{
background:#44accf;
}
.verde{
background: #b7d84b;
}

.cuadrado{
	width: 200px;
	height: 200px;
	position: relative;
	margin:0;
	padding:0;
}